# Zadania z pracy Excel

## kolejny
### kolejny
nowa linia\
nowa linia

**pogrubiony**\
*kursywa*

In [5]:
print("Hello World")

Hello World

In [6]:
a = 100

In [7]:
print(a)

100

In [8]:
a

100

In [9]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
from openpyxl import Workbook

In [21]:
wb = Workbook()

ws = wb.active
ws['A1'] = 42

wb.save('sample.xlsx')

In [20]:
ws.append([1, 2, 3])

In [26]:
wb.save('sample.xlsx')

In [22]:
import datetime

In [27]:
ws['A8'] = datetime.datetime.now()
wb.save('sample.xlsx')

In [28]:
import openpyxl

wb = openpyxl.load_workbook('videogamesales.xlsx')
wb

In [33]:
ws = wb.active
ws

In [31]:
ws = wb['vgsales']
ws

In [32]:
print("Total number of rows:", ws.max_row)

Total number of rows: 16328

In [34]:
print("Total number of columns:", ws.max_column)

Total number of columns: 10

In [35]:
print("The value of call A1 is:", ws['A1'])
print("The value of call A1 is:", ws['A1'].value)

The value of call A1 is: <Cell 'vgsales'.A1>
The value of call A1 is: Rank

In [44]:
values = [ws.cell(row=1, column=i).value for i in range(1, ws.max_column + 1)]
print(values)

['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']

In [48]:
data = [ws.cell(row=i, column=2).value for i in range(2, 12)]
print(data)

['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', 'Wii Sports Resort', 'Pokemon Red/Pokemon Blue', 'Tetris', 'New Super Mario Bros.', 'Wii Play', 'New Super Mario Bros. Wii', 'Duck Hunt']

In [49]:
data

['Wii Sports',
 'Super Mario Bros.',
 'Mario Kart Wii',
 'Wii Sports Resort',
 'Pokemon Red/Pokemon Blue',
 'Tetris',
 'New Super Mario Bros.',
 'Wii Play',
 'New Super Mario Bros. Wii',
 'Duck Hunt']

In [54]:
my_list = list()

for value in ws.iter_rows(
        min_row=1,
        max_row=11,
        min_col=1,
        max_col=6,
        values_only=True
):
    my_list.append(value)

In [55]:
my_list

[('Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher'),
 (1, 'Wii Sports', 'Wii', 2006, 'Sports', 'Nintendo'),
 (2, 'Super Mario Bros.', 'NES', 1985, 'Platform', 'Nintendo'),
 (3, 'Mario Kart Wii', 'Wii', 2008, 'Racing', 'Nintendo'),
 (4, 'Wii Sports Resort', 'Wii', 2009, 'Sports', 'Nintendo'),
 (5, 'Pokemon Red/Pokemon Blue', 'GB', 1996, 'Role-Playing', 'Nintendo'),
 (6, 'Tetris', 'GB', 1989, 'Puzzle', 'Nintendo'),
 (7, 'New Super Mario Bros.', 'DS', 2006, 'Platform', 'Nintendo'),
 (8, 'Wii Play', 'Wii', 2006, 'Misc', 'Nintendo'),
 (9, 'New Super Mario Bros. Wii', 'Wii', 2009, 'Platform', 'Nintendo'),
 (10, 'Duck Hunt', 'NES', 1984, 'Shooter', 'Nintendo')]

In [56]:
for ele1, ele2, ele3, ele4, ele5, ele6, in my_list:
    print(f"{ele1:<8}, {ele2:<35}, {ele3:<10}, {ele4:^10}, {ele5:<15}{ele6:<15}")

Rank    , Name                               , Platform  ,    Year   , Genre          Publisher
1       , Wii Sports                         , Wii       ,    2006   , Sports         Nintendo
2       , Super Mario Bros.                  , NES       ,    1985   , Platform       Nintendo
3       , Mario Kart Wii                     , Wii       ,    2008   , Racing         Nintendo
4       , Wii Sports Resort                  , Wii       ,    2009   , Sports         Nintendo
5       , Pokemon Red/Pokemon Blue           , GB        ,    1996   , Role-Playing   Nintendo
6       , Tetris                             , GB        ,    1989   , Puzzle         Nintendo
7       , New Super Mario Bros.              , DS        ,    2006   , Platform       Nintendo
8       , Wii Play                           , Wii       ,    2006   , Misc           Nintendo
9       , New Super Mario Bros. Wii          , Wii       ,    2009   , Platform       Nintendo
10      , Duck Hunt                          , NES       ,    1984   , Shooter        Nintendo

In [57]:
ws['K1'] = "Sum of Sales"
ws['K1'].value

'Sum of Sales'

In [58]:
ws.cell(row=1, column=1, value="Sume of Sales")

In [59]:
print(ws.cell(row=1, column=11).value)

Sum of Sales

In [60]:
wb.save("video2.xlsx")

## Dodanie kolumny - suma sprzedaży

In [64]:
row_position = 2
col_position = 7

total_seles = (
        (ws.cell(row=row_position, column=col_position).value) +
        (ws.cell(row=row_position, column=col_position + 1).value) +
        (ws.cell(row=row_position, column=col_position + 2).value) +
        (ws.cell(row=row_position, column=col_position + 3).value)
)
ws.cell(row=2, column=11).value = total_seles
wb.save('video2.xlsx')

In [65]:
row_position = 1

for i in range(1, ws.max_row):
    row_position += 1
    NA_Sales = ws.cell(row=row_position, column=7).value
    EU_Sales = ws.cell(row=row_position, column=8).value
    JP_Sales = ws.cell(row=row_position, column=9).value
    Other_Sales = ws.cell(row=row_position, column=10).value

    total_sales = NA_Sales + EU_Sales + JP_Sales + Other_Sales
    ws.cell(row=row_position, column=11).value = total_seles

wb.save('video2.xlsx')

#### Dodawanie wiersza

In [70]:
new_row = (1, 'The Legend of Zelda', 'Wii', 1986, 'Action', 'Nintendo', 3.74, 0.93, 1.69, 0.14, 6.51)
ws.append(new_row)
wb.save('video2.xlsx')

In [73]:
values = [ws.cell(row=ws.max_row, column=i).value for i in range(1, ws.max_column + 1)]
values

[16600,
 'Spirits & Spells',
 'GBA',
 2003,
 'Platform',
 'Wanadoo',
 0.01,
 0,
 0,
 0,
 82.74000000000001]

#### Usuwanie wiersza

In [72]:
ws.delete_rows(ws.max_row, 1)
wb.save('video2.xlsx')

_____

AVERAGE

In [74]:
ws['P1'] = "Average Sales"
ws['P2'] = '=Average(K2:K16328)'

wb.save('video2.xlsx')

#### COUNTA

In [75]:
ws['Q1'] = "Number of populated Cells"
ws['Q2'] = "COUNTA(E2:E16328)"

wb.save('video2.xlsx')

#### COUNTIF

In [76]:
ws['R1'] = "Number of rows with Sports Games"
ws["R2"] = "=COUNTIF(E2:E16328, 'Sports')"

wb.save('video2.xlsx')

#### - sumuje spełniające warunek

In [77]:
ws['S1'] = "Total Sports Sales"
ws['S2'] = "=SUMIF(E2:E16328, 'Sports', K2:K16328)"

wb.save('video2.xlsx')

#### CEILING

In [78]:
ws['T1'] = "Rounded Sun of Sports Sales"
ws['T2'] = "=CEILING(S2,25)"

wb.save('video2.xlsx')

In [79]:
ws['T3'] = "=CEILING(S2,1)"

wb.save('video2.xlsx')